{
  "extends": ["prettier", "prettier/react", "airbnb"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "class-methods-use-this": 0,
    "no-restricted-syntax": ["error", "WithStatement", "BinaryExpression[operator='in']"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "always", "asyncArrow": "always"}]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "it": true
  },
  "parser": "babel-eslint"
}
